<!DOCTYPE html>
<html>

<head>

<title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/static/bower_components/toastr/toastr.min.css">
<link rel="stylesheet"
    href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

<link rel="stylesheet"
    href="/static/bower_components/font-awesome/css/font-awesome.min.css">

<link rel="stylesheet" href="/static/bower_components/bootstrap-select/bootstrap-select.min.css">
<link href="/static/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css"
    rel="stylesheet"
    type="text/css" />

<link rel="stylesheet"href="/static/bower_components/pagerjs/dist/pager.css">



<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/bower_components/knockout/dist/knockout.js"></script>
<script src="/static/bower_components/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/static/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>

<script src="/static/bower_components/momentjs/moment.js"></script>
<script src="/static/bower_components/toastr/toastr.min.js"></script>

<script src="/static/bower_components/pagerjs/dist/pager.min.js"></script>

<script src="/static/viewmodels/webappsession.js"></script>
<script src="/static/viewmodels/useradmin.js"></script>

<script src="/static/budgetbot_view_model.js"></script>
<script src="/static/viewmodels/shoppinglistviewmodel.js"></script>

{% block styles %}
{% endblock styles %}

</head>

<body>

{% include 'budgetbot/_navbar.html' %}

<div id="main">
<div class="container">

{% block main %}
{% endblock %}

</div><!-- closes div class="container" -->
</div><!-- closes div class="main" -->

{% block scripts %}
{% endblock %}

</body>

</html>

{# vim: set syntax=htmldjango: #}
