{% extends 'budgetbot/base.html' %}

{% block title %}BudgetBot{% endblock %}

{% block styles %}
<style type="text/css">
.wm-details th
{
    text-align: left;
}
.wm-details td
{
    text-align: right;
}
</style>
{% endblock styles %}

{% block main %}

<div data-bind="page: {
    id: 'add-user',
    sourceOnShow: '/static/templates/adduser.html',
    with:uavm,
    afterShow: uavm.addUserInitialize
 }">
</div>

<div data-bind="page: {
    id: 'reset-password',
    params: ['payload'],
    sourceOnShow: '/reset-password #main',
    sourceLoaded: setup_reset_password}">
</div>

<div data-bind="page: {
    id: 'login',
    sourceOnShow: 'static/templates/login.html',
    afterShow: check_login_status}">
</div>


<div data-bind="page: {
    id: 'my-account',
    role: 'start',
    source: '/static/templates/my-account.html',
    with: webapp_session().user(),
    afterShow: webapp_session().user().initialize}"></div>

<div data-bind="page:{
    id: 'shopping-list',
    source: '/static/templates/shopping-list.html',
    params: ['shopping_list_id'],
    with: slvm,
    afterShow: slvm.initialize}"></div>

<div data-bind="page:{
    id: 'shopping-list-add-user',
    source: '/static/templates/add-user-to-shopping-list.html',
    params: ['shopping_list_id'],
    with: aduslvm,
    afterShow: aduslvm.initialize}"></div>


<div data-bind="page:{
    id: 'shopping-lists',
    source: '/static/templates/shopping-lists.html',
    with: aslvm,
    afterShow: aslvm.initialize}"></div>

<div data-bind="page:{
    id: 'add-expense',
    source: '/static/templates/add-expense.html',
    with: expensetrackvm,
    afterShow: expensetrackvm.initialize}"></div>

<div data-bind="page:{
    id: 'journal',
    source: '/static/templates/journal.html',
    with: journalvm,
    afterShow: journalvm.initialize
    }"></div>


{% endblock main %}

{% block scripts %}

<script type="text/javascript"
src="/static/viewmodels/journalviewmodel.js"></script>

<script type="text/javascript"
src="/static/viewmodels/budgetbotviewmodel.js"></script>

<script type="text/javascript"
src="/static/viewmodels/shoppinglistviewmodel.js"></script>
<script type="text/javascript"
src="/static/viewmodels/shoppinglistadduservm.js"></script>
<script type="text/javascript"
src="/static/viewmodels/expensetrackviewmodel.js"></script>




<script type="text/javascript">

var bbvm;

$(document).ready(function () {

    bbvm = new BudgetBotViewModel({});

    pager.extendWithPage(bbvm);
    ko.applyBindings(bbvm);
    pager.start();

    bbvm.check_login_status();


});



</script>

{% endblock scripts %}

{# vim: set syntax=htmldjango: #}
