<div id="new-epxense-form">

<div class="row">

<!-- left column -->
<div class="col-md-6">

<form role="form">
<h2>Enter an expense</h2>

<div class="form-group">

<label>
Who's there?
</label>

<select class="selectpicker"
    data-width="100%"
    data-bind="foreach: people, value:expense().person_uuid">

<option data-bind="text:display_name, value:person_uuid"></option>
</select>

</div> <!-- ends div class="form-group" -->

<div class="form-group">
<label>
Expense Date
</label>

<input type="text" name="date_expense"
    id="dt"
    class="form-control datepicker"
    data-bind="value: expense().expense_date" />
</div>
<div class="form-group">
<label>
Amount
<small class="text-muted">(in $)</small>
</label>
<div class="input-group">
<span class="input-group-addon">$</span>
<input type="number" name="amount"
    class="form-control"
    data-bind="value:expense().amount" />
</div>
</div>
<div class="form-group">
<ul class="list-unstyled list-inline">
<li>
<button class="btn btn-danger btn-sm"
    data-bind="click: function () { expense().amount(0); }"
>Clear</button>
</li>
</ul>
</div>

<div class="form-group">
<label>
Expense Category
</label>
<select class="selectpicker"
    data-width="100%"
    data-bind="options: expense_categories_denormal,
               optionsText: function(item)
                    { console.log(item); return item.expense_category().title()  },
               value:selected_expense_category_from_select">

</select>


<div style="background-color:#E2DCEC; width:100%; height:20px; border-radius:5px">
<div style="background-color:#472873; height:20px; border-radius:5px" data-bind="style: { width: selected_expense_category_from_select.amount_spent_percentage(), color:'red' }"></div>
</div>
<h4>
$<span data-bind="text:selected_expense_category_from_select.amount_spent()"></span> /
$<span data-bind="text:selected_expense_category_from_select.budgeted_amount()">
</span></h4>
</div>


<div class="form-group">
<label>Extra notes</label>

<textarea class="form-control"
    rows="3"
    data-bind="value: expense().extra_notes"></textarea>

</div>

<button
    class="btn btn-primary btn-lg"
    data-bind="click: insert,
        css: {disabled: add_expense_button_enabled}"
>
Add Expense
</button>
</form>
</div><!-- closes first col-md-6 -->

<div class="col-md-6">

<table class="table table-striped">
<thead><tr>
    <th>Category</th>
    <th>Amount Spent</th>
    <th>Budgeted Amount</th>
    <th>Deets</th>
</tr>
</thead>
<tfoot><tr>
<th>Total ($)</th>
<th>$<span data-bind="text:total_spent_amount"></span></th>
<th>$<span data-bind="text:total_budgeted_amount"></span></th>
<th></th>
</tr></tfoot>

<tbody data-bind="foreach:expense_categories_denormal">

<tr>
  <td data-bind="text:expense_category.title()"></td>
  <td data-bind="style: {color : parseInt(amount_spent()) > budgeted_amount() ? 'red' : 'black'}">
  $<span data-bind="text:amount_spent()">
  </span></td>
  <td> $<span data-bind="text:budgeted_amount()"></span></td>
  <td><button class="btn btn-sm"
              data-bind="click:$parent.select_category,
                       sort_desc: { arr: expenses, prop: 'expense_date()'}">
      +</button>
</tr>

</tbody>
</table>

<div data-bind="foreach:expense_categories_denormal">
<a name="deets"></a>
<table class="table" data-bind="visible:$data == $parent.selected_expense_category()">
    <caption data-bind="text:expense_category.title()"></caption>
    <thead><tr>
        <th data-bind="sort: { arr: expenses, prop: 'expense_date()'}">
        Date</th>
        <th data-bind="sort: { arr: expenses, prop: 'amount()'}">Amount
        </th>
        <th>Notes</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody data-bind="foreach:expenses">
    <tr>
     <td data-bind="moment: expense_date(), format: 'MM-DD'"></td>
     <td> $<span data-bind="text:amount"></span></td>
     <td><span data-bind="text:extra_notes"></span></td>
     <td><button class="btn btn-primary" data-bind="click:$parent.delete_expense">Delete
     </button></td>
    </tr>
    </tbody>
</table>
</div>

<! -- list all expenses down here .. then we can worry about editing -->

</div><!-- closes second col-md-6 -->

</div><!-- closes class="row" -->

</div><!-- id="expense-tracking-form" -->
