<div id="new-epxense-form">

<div class="row">

<!-- left column -->
<div class="col-md-6">

<form role="form">
<h2>Enter an expense</h2>

<div class="form-group">

<label>
Who's there?
</label>

<select class="selectpicker"
    data-width="100%"
    data-bind="foreach: people, value:expense().person_id">

<option data-bind="text:display_name, value:person_id"></option>
</select>

</div> <!-- ends div class="form-group" -->

<div class="form-group">
<label>
Expense Date
</label>

<input type="text" name="date_expense"
    id="dt"
    class="form-control datepicker"
    data-bind="value: expense().date_expense" />
</div>

<div class="form-group">
<label>
Amount
<small class="text-muted">(in $)</small>
</label>

<input type="number" name="amount"
    class="form-control"
    data-bind="value:expense().amount" />
<ul class="list-unstyled list-inline">
<li>
<button class="btn btn-danger btn-sm"
    data-bind="click: function () { expense().amount(0); }"
>
Clear
</button>
</li>

</ul>
</div>

<div class="form-group">
<label>
Expense Category
</label>

<br />

<select class="selectpicker"
    data-width="100%"
    data-bind="options: expense_categories,
               optionsText: 'title',
               value:expense().expense_category">

</select>

</div>

<div class="form-group">
<label>Extra notes</label>

<textarea class="form-control"
    rows="8"
    data-bind="value: expense().extra_notes"></textarea>

</div>

<button
    class="btn btn-primary btn-lg"
    data-bind="click: insert,
        css: {disabled: is_saving}"
>
Add Expense
</button>
</form>
</div><!-- closes first col-md-6 -->

<div class="col-md-6">

<h2>JSON I will send</h2>
<pre data-bind="text: ko.toJSON(insert_data, null, 4)"></pre>

<h2>Response from server</h2>
<pre data-bind="text: ko.toJSON(server_reply, null, 4)"></pre>

</div><!-- closes second col-md-6 -->

</div><!-- closes class="row" -->

</div><!-- id="expense-tracking-form" -->
