<div id="new-epxense-form">

<div class="row">

<!-- left column -->
<div class="col-md-6">

<form role="form">
<h2>Enter an expense</h2>

<div class="form-group">

<label>
Who's there?
</label>

<select class="selectpicker"
    data-width="100%"
    data-bind="foreach: people, value:expense().person_id">

<option data-bind="text:display_name, value:person_id"></option>
</select>

</div> <!-- ends div class="form-group" -->

<div class="form-group">
<label>
Expense Date
</label>

<input type="text" name="date_expense"
    id="dt"
    class="form-control datepicker"
    data-bind="value: expense().date_expense" />
</div>
<div class="form-group">
<label>
Amount
<small class="text-muted">(in $)</small>
</label>
<div class="input-group">
<span class="input-group-addon">$</span>
<input type="number" name="amount"
    class="form-control"
    data-bind="value:expense().amount" />
</div>
</div>
<div class="form-group">
<ul class="list-unstyled list-inline">
<li>
<button class="btn btn-danger btn-sm"
    data-bind="click: function () { expense().amount(0); }"
>Clear</button>
</li>
</ul>
</div>

<div class="form-group">
<label>
Expense Category
</label>
<select class="selectpicker"
    data-width="100%"
    data-bind="options: expense_categories_denormal(),
               optionsText: function(item)
                    { return item.expense_category.title()  },
               value:expense().expense_category_denorm">

</select>


<div style="background-color:#E2DCEC; width:100%; height:20px; border-radius:5px">
<div style="background-color:#472873; height:20px; border-radius:5px" data-bind="style: { width: expense().expense_category_denorm().amount_spent_percentage() }"></div>
</div>
<h4>
$<span data-bind="text:expense().expense_category_denorm().amount_spent()"></span> /
$<span data-bind="text:expense().expense_category_denorm().budgeted_amount()">
</span></h4>
</div>


<div class="form-group">
<label>Extra notes</label>

<textarea class="form-control"
    rows="3"
    data-bind="value: expense().extra_notes"></textarea>

</div>

<button
    class="btn btn-primary btn-lg"
    data-bind="click: insert,
        css: {disabled: add_expense_button_enabled}"
>
Add Expense
</button>
</form>
</div><!-- closes first col-md-6 -->

<div class="col-md-6">

<table class="table table-striped">
<thead><tr>
    <th>Category</th>
    <th>Amount Spent</th>
    <th>Budgeted Amount</th>
</tr>
</thead>
<tfoot><tr>
<th>Total ($)</th>
<th>$<span data-bind="text:total_spent_amount"></span></th>
<th>$<span data-bind="text:total_budgeted_amount"></span></th>
</tr></tfoot>

<tbody data-bind="foreach:expense_categories_denormal">

<tr>
  <td data-bind="text:expense_category.title()"></td>
  <td data-bind="style: {color : parseInt(amount_spent()) > budgeted_amount() ? 'red' : 'black'}">
  $<span data-bind="text:amount_spent()">
  </span></td>
  <td> $<span data-bind="text:budgeted_amount()"></span></td>
</tr>

</tbody>
</table>

</div><!-- closes second col-md-6 -->

</div><!-- closes class="row" -->

</div><!-- id="expense-tracking-form" -->
