{% extends 'budgetbot/base.html' %}

{% block title %}BudgetBot{% endblock %}

{% block main %}

<div class="row">

<div class="col-md-8 col-md-offset-2">
<h2>Shopping List</h2>
<table class="table table-striped">
<thead>
<tr>
 <th>Shopping Item</th>
 <th style="width:20%">Date</th>
 <th>Action</th>
 </th>
</tr>
</thead>
<tbody data-bind="foreach:shopping_items">
<tr>
 <td data-bind="text:item"></td>
 <td></td>
 <td><button class="btn btn-danger"
             data-bind="click:$parent.delete_item"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
</tr>
</tbody>
</table>

<div class="well" data-bind="with:item_to_add">

<h3>Add an Item</h3>
<div class="form-group">
<label class="control-label">What to add</label>
<input class="form-control" type="text" data-bind="value:item" />
</div>

<div class=" form-group">
<label>What kind of store</label>
<select class="selectpicker form-control"
    data-bind="options:$parent.store_options,
               value:store">

</select>
</div>

<div class="form-group">
<button class="btn btn-primary btn-lg"
data-bind="click:$parent.add_item, disable:$parent.add_button_disabled">
Add
Item</button>
</div>


</div> <!-- closes well -->

</div> <!-- closes col-md-8 -->

</div> <!-- closes row -->

{% endblock main %}

{% block scripts %}
<script type="text/javascript">

var slvm = new ShoppingListViewModel({});

$(document).ready(function () {

    ko.applyBindings(slvm);
    slvm.initialize().then(function(){
        $("select.selectpicker").selectpicker();
        if(/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)) {
            $('.selectpicker').selectpicker('mobile');
    }});


});
</script>
{% endblock scripts %}

{# vim: set syntax=htmldjango: #}
