{% extends 'budgetbot/base.html' %}

{% block title %}BudgetBot{% endblock %}

{% block main %}

{% include 'budgetbot/new-expense-form.html' %}

{% endblock main %}

{% block scripts %}
<script type="text/javascript">

var expense_categories_denormal = {{ fancyjsondumps(
                                     expense_categories_denormal)|safe }};
var people = {{ fancyjsondumps(people)|safe }};

var etvm = new ExpenseTrackViewModel({
    people: people,
    expense_categories_denormal: expense_categories_denormal,
});

$(document).ready(function () {

    $("input.datepicker").datepicker({
        format: 'yyyy-mm-dd',
        todayBtn: true,
        todayHighlight: true,
        autoclose: true
    }).datepicker("update", etvm.expense().date_expense());

    ko.applyBindings(etvm);

    $("select.selectpicker").selectpicker();
    if(/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)) {
        $('.selectpicker').selectpicker('mobile');
    }

});
</script>
{% endblock scripts %}

{# vim: set syntax=htmldjango: #}
