{% extends 'budgetbot/base.html' %}

{% block title %}BudgetBot{% endblock %}

{% block main %}

{% include 'budgetbot/new-expense-form.html' %}

{% endblock main %}

{% block scripts %}
<script type="text/javascript">

var etvm = new ExpenseTrackViewModel({
});

$(document).ready(function () {

    $("input.datepicker").datepicker({
        format: 'yyyy-mm-dd',
        todayBtn: true,
        todayHighlight: true,
        autoclose: true
    }).datepicker("update", etvm.expense().expense_date());

    ko.applyBindings(etvm);

    etvm.initialize();

    $("select.selectpicker").selectpicker();
    if(/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)) {
        $('.selectpicker').selectpicker('mobile');
    }

});
</script>
{% endblock scripts %}

{# vim: set syntax=htmldjango: #}
