<div class="row">

<div class="col-md-8 col-md-offset-2">

<a data-bind="page-href:'/shopping-lists'"> &lsaquo;&nbsp; Back to
shopping lists</a>

<h2><span data-bind="text:shopping_list().shopping_list_name"></span>
<span class="text-muted" data-bind="text:shopping_list().store"></span>
</h2>



<table class="table table-striped" data-bind="visible:show_users_table">
<caption>People who can view use this list</caption>
<thead>
<tr>
<th>Display Name</th>
<th>Email Address</th>
<th>Do somethin'</th>
</tr>
</thead>
<tbody data-bind="foreach:shopping_list_users">
<tr>
    <td data-bind="text:display_name">
    <td data-bind="text:email_address">
    <td><button class="btn btn-sm btn-warning"
                           data-bind="click:$parent.remove_user_from_shopping_list,
                           disable:$parent.is_busy">Remove me :(</button></td>
</tr>

</tbody>
</table>





<div class="well">

<h3>Share this shopping list</h3>
<div class="form-group">
<label class="control-label">Name or email (we'll search our database)</label>
<input class="form-control" type="text" data-bind="textInput:name_or_email" />
</div>


<div class="form-group">
<button class="btn btn-primary btn-lg"
data-bind="click:user_search, disable:search_button_disabled">
Search</button>
</div>

<div id="userSearchMessage" data-bind="if:no_results_message">
Sorry, no results were found.
</div>


<table class="table table-striped" data-bind="visible:show_results_table">
<thead>
<tr>
<th>Display Name</th>
<th>Email Address</th>
<th>Do somethin'</th>
</tr>
</thead>
<tbody data-bind="foreach:search_results">
<tr>
    <td data-bind="text:display_name">
    <td data-bind="text:email_address">
    <td><button class="btn btn-sm btn-success"
                           data-bind="click:$parent.add_user_to_shopping_list,
                           disable:$parent.is_busy">Add me!</button></td>
</tr>

</tbody>
</table>




</div> <!-- closes well -->

</div> <!-- closes col-md-8 -->

</div> <!-- closes row -->
