<div class="row">

<div class="col-md-8 col-md-offset-2">

<h2><span data-bind="text:shopping_list().shopping_list_name"></span>
<span class="text-muted" data-bind="text:shopping_list().store"></span>
</h2>

<table class="table table-striped">
<thead>
<tr>
 <th>Shopping Item</th>
 <th style="width:20%">Date</th>
 <th>Action</th>
 </th>
</tr>
</thead>
<tbody data-bind="foreach:shopping_items">
<tr>
 <td data-bind="text:item"></td>
 <td></td>
 <td><button class="btn btn-danger"
             data-bind="click:$parent.delete_item"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
</tr>
</tbody>
</table>

<div class="well" data-bind="with:item_to_add">

<h3>Add an Item</h3>
<div class="form-group">
<label class="control-label">What to add?</label>
<input class="form-control" type="text" data-bind="textInput:item" />
</div>


<div class="form-group">
<button class="btn btn-primary btn-lg"
data-bind="click:$parent.add_item, disable:$parent.add_button_disabled">
Add
Item</button>
</div>


</div> <!-- closes well -->

</div> <!-- closes col-md-8 -->

</div> <!-- closes row -->
